body {
    background-color: #252525;
}
.head {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    width: 100%;
}
.heading {
    margin-top: 20px;
    text-align: center;
    padding: 5px 5px;
    color: wheat;
}
.start {
    color: #ba0000;
    width: 4%;
    font-size: 1.6rem;
    justify-items: center;
    text-align: center;
    margin: auto;
}
.startbtn {
    background-color: #8fbc8f;
    border-radius: 8%;
    margin: 0;
}
.next,
.start:hover {
    width: 5%;
}
.startbtn:hover {
    cursor: pointer;
    font-size: 2.5rem;
}
.question {
    font-size: 3rem;
    margin: auto;
    color: wheat;
    text-align: center;
    margin-top: 150px;
}
.question span {
    color: red;
}

.answer {
    display: inline-block;
    width: 50%;
    text-align: center;
    position: relative;
    margin: 25px 0;
    padding: 0;
}

.span,
.next {
    cursor: pointer;
    border: 2px solid wheat;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.72rem;
    color: wheat;
}
.span:hover,
.next:hover {
    background-color: wheat;
    color: #252525;
}
.correct,
.correct:hover {
    background-color: green;
    color: wheat;
}
.incorrect,
.incorrect:hover {
    background-color: #ba0000;
    color: wheat;
}
.nextDiv {
    text-align: center;
    margin-top: 10px;
}
/* .next {
    display: none;
} */
